.overlay {
    position: fixed;
    inset: 0;
    background-color: #00000090;
    z-index: 999;
    align-items: center;
    justify-content: center;
    display: flex;
}
.alert{
    width: 490px;
    height: 251px;
    margin: auto;
    background: #fff;
    color: #000;
    padding: 20px;
    border-radius: 3px;
}
.alert h3 {
    text-align: center;
    font-size: 24px;
}
.check {
    width: 70px;
    height: 70px;
    align-items: center;
    margin-left: 12rem;
}
.butt {
    margin-top: 1.8rem;
    margin-left: 10px;
}
.btnone {
    width: 191pxpx;
    height: 53pxpx;
    top: 552px;
    left: 484px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    opacity: 0px;    
    background: #399A3A;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 20.8px;
    text-align: left;    
    border-radius: 5px;
    cursor: pointer;
}
.btntwo{
    width: Hug (230px)px;
    height: Hug (53px)px;
    top: 552px;
    left: 685px;
    padding: 16px 32px 16px 32px;
    gap: 10px;
    border-radius: 4px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border: 1px solid #399A3A;    
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px;
    text-align: left;
    border-radius: 5px;  
    margin-left: 5px;
    cursor: pointer;
}