* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
button {
  background: none;
  border: none;
  cursor: none;
}
ul, ol {
  list-style: none;
}
input {
  outline: none;
}
.container {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
}